.container-fluid
  .row-fluid
    .span12
      %h2 How happy are your Olympic tweets?
      #graph

      .info
        :plain
          Data source: <a href="http://datasift.com/stream/27180/mmxiihack">datasift mmxiihack data stream</a>
  %hr